#matkonim{color:black;
background-color:antiquewhite;
font-size: 40px;
text-align: center;
font-family: 'Courier New', Courier, monospace;}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c1e7ee;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  li a:hover {
    background-color: #c8d0dd;
  }